@import "mapbox-gl/dist/mapbox-gl.css";

:root {
  --glow-color: #00ff88;
  --glow-shadow: 0 0 1px #00ff88, 0 0 5px #00ff88, 0 0 10px #00ff8878;
  --dark: rgb(21, 21, 21);
  --light: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background: #000;
}
