@import "mapbox-gl/dist/mapbox-gl.css";

:root {
  --glow-color: #00ff88;
  --dark-glow-color: #0cd979;
  --glow-shadow: 0 0 1px #00ff88, 0 0 5px #00ff88, 0 0 10px #00ff8878;
  --dark: rgb(23, 23, 23);
  --light: rgb(216, 216, 216);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background: #000;
  font-size: 16px;
}
