@import "mapbox-gl/dist/mapbox-gl.css";

:root {
  --glow-color: #00ff88;
  --dark-glow-color: #0cd979;
  --glow-shadow: 0 0 1px #00ff88, 0 0 5px #00ff88, 0 0 10px #00ff8878;
  --dark: #1f1f1f;
  --light: rgb(216, 216, 216);
  --muted: rgb(169, 169, 169);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background: var(--dark);
  font-size: 15px;
  font-family: var(--font-literata), serif;
}

@media (max-width: 500px) {
  html {
    font-size: 13px;
  }
}
